*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(238, 237, 209);
}
input {
    padding: 3px;
    /* box-shadow: 3px 3px 5px rgb(245, 240, 240); */
    font-size: 14px;
    font-weight: 600;
    /* width: 300px; */
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #button {
    background-color: #0a0a0a; 
    border: none;
    margin-top: 10px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }
  #lname, #fname{
    text-align: center;
    color:#070707;
  }

  #form1{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
   width: 300px;
  border: 5px solid rgb(0, 0, 0);
  padding: 50px;
  margin: 20px;
  background-color: rgb(190, 180, 180);
  }

  #yo{
    text-align: center;
    border:5px solid black;
    margin-right: 30%;
    margin-left: 34%;
    border-radius: 5%;
  }